* {
    /* padding: 0;
    margin: 0; */
    border: 1px solid black;
}

.head {
    /* background-image: url(./img/Banner\ Image.png); */
    background-repeat: no-repeat;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./img/Banner\ Image.png);
    height: 550px;
    max-width: 1250px;
    width: 100%;
    padding: 20px;



}
.second-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.catagore-img{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
    /* margin-left: 200px; */
}


.head-title {
    text-align: center;
    color: white;
    padding-top: 150px;
    font-size: 30px;
}

.head-2 {
    text-align: center;
    color: white;
    font-size: 50px;
    width: 400px;
    margin: 0 auto;

    /* margin-left: 250px; */

}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}

.discount {
    color: #f00;
    text-align: center;
    font-size: 70px;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif; */
}

.dis-p {
    font-family: 'Inter', sans-serif;

    color: #F00;
    text-align: center;
    font-weight: 700px;
    font-size: 20px;
    /* width: 100%; */

}

.catago {
    font-family: 'Inter', sans-serif;
    color: #070211;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* width: fit-content;
    margin: 0 auto; */
}

.third-part {
    background-image: url(img/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1400px;
    height: 590px;
    display: flex;
    
}

.btn-1{
    /* font: size 80px; */
    color: #FFF;
    background:none;

}
.g-70{
    max-height: 370px;
    height: 100%;
   


    /* align-items: flex-end; */
}

.alin {
    text-align: center;
    color: aliceblue;
    /* display:flex; */
    /* flex-direction: column; */
}

#welcome {
    color: #FFF;
    font-size: 80px;
    width: 590px;
    padding-left: 100px;
    padding-top: 80px;

}

p {
    width: 590px;
    /* padding-left: 90px; */
}

.sec{
    background: linear-gradient();
    text-align: center;
}
span{
    /* padding: 80px 350px 85px 355px; */
    color: #ff0000;
}
.btn-2{
    font-size: medium;
    color: #FFF;
    background-color: #ff0000;
    padding: 12px 24px;
}
.list{
    padding: 30px 50px;
    display: flex;
    gap: 20px;

}

.org{
    color: #ff0000;
    font-size: 15px;
    font-family: ;
}
.bld{
    font-size: 30px;
    max-width: 350px;
    width: 100%;
}

p{
    max-width: 400px;
    width: 100%;
}
.img-4{ 
    border: 2px;
    border-color: #ff0000;
    border-radius: 100%;
}
.sec-2{
    /* display: flex; */
text-align: center;
}


footer{
    display: flex;
    flex-direction: column;
}

.ft-1{
    display: flex;
    flex-direction: row;
}

.foot-year{
    display:flex

}